<div class="j-toggle">
  <input type="radio" name="pref" value="on"  id="pref-on">
  <label for="pref-on">On</label>
  <input type="radio" name="pref" value="off" id="pref-off">
  <label for="pref-off">Off</label>
</div>