.hljs {
  background: #f4f6fa; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif;
  font-size: 16px;
  color: #14315d; }

.sbs-header {
  position: fixed;
  background: #f4f6fa;
  padding: 0 0 4rem;
  margin: 0;
  width: 14rem;
  height: 100%;
  border-right: solid 1px rgba(0, 0, 1, 0.1);
  margin: 0;
  overflow-y: scroll; }

.sbs-styleguide-heading {
  font: normal 1rem/1.2 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif;
  padding: 1rem;
  background: #fff;
  border-bottom: solid 3px #a7b7c8; }

.sbs-nav {
  padding: 0;
  font-size: .9rem; }
  .sbs-nav ul {
    margin: 0;
    padding: 0; }

.sbs-nav__item {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px rgba(0, 0, 0, 0.05);
  border-width: 0 0 1px; }
  .sbs-nav__item:last-child {
    border: 0; }
  .sbs-nav__item ul {
    background: #e2e8f2; }
    .sbs-nav__item ul a {
      padding-left: 2rem; }

.sbs-nav__link,
.sbs-nav__link:link,
.sbs-nav__link:visited,
.sbs-nav__link:hover,
.sbs-nav__link:focus,
.sbs-nav__link:active {
  display: block;
  padding: .65rem 1.2rem;
  color: #14315d;
  border: 0;
  text-decoration: none; }

.sbs-nav__link:hover {
  background: #e2e8f2;
  border-width: 0 0 1px; }

.sbs-nav__item .sbs-nav__item .sbs-nav__link {
  padding-left: 2rem; }
  .sbs-nav__item .sbs-nav__item .sbs-nav__link:hover {
    background: #d7e0ed; }

.sbs-main {
  margin-left: 14rem; }

.sbs-style-section {
  padding: 2rem;
  border-bottom: solid 1px rgba(0, 0, 1, 0.1); }

.sbs-heading {
  font: bold 1.5rem/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif;
  margin: 0 0 1rem;
  padding: 0; }

.sbs-section-number {
  margin: 0;
  padding: 0;
  font: bold 0.9rem/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif;
  color: #ccc; }

.sbs-description p, .sbs-description ul, .sbs-description ol {
  margin: 0 0 1rem;
  padding: 0; }
  .sbs-description p:last-child, .sbs-description ul:last-child, .sbs-description ol:last-child {
    margin-bottom: 0; }

.sbs-rule {
  border: dashed 1px #ccc;
  border-width: 1px 0 0;
  height: 1px;
  margin: 2rem 0;
  padding: 0; }

.sbs-code code {
  font-size: .9rem;
  padding: 1rem; }

.sbs-code-heading {
  text-transform: uppercase;
  font: normal 0.8rem/1 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif;
  margin: .5rem 0;
  padding: 0; }

.sbs-color-palette {
  background: #f4f6fa;
  padding: 1rem;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: .25rem; }

.sbs-color-swatch {
  display: inline-block;
  vertical-align: top;
  margin: 0 1rem 1rem 0;
  width: 12rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  overflow: auto; }

.sbs-color-swatch__sample {
  height: 12rem; }

.sbs-color-swatch__label {
  padding: 1rem;
  background: #fff; }

.sbs-color-swatch__name {
  display: block;
  font: bold 1rem/1.2 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif; }

.sbs-color-swatch__code {
  display: block;
  margin: 0 0 .25rem;
  font: normal 0.8rem/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaa; }

.sbs-color-swatch__desc {
  display: block;
  margin: 1rem 0 .5rem;
  padding: 1rem 0 0;
  border-top: solid 1px rgba(0, 0, 1, 0.1);
  font: normal 0.8rem/1.4 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, san-serif;
  color: #aaa; }
