
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; 
  box-sizing: border-box;

  &::selection {
    background: $color-text-select;
  }
}

html, 
body {
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  position: relative;
}


/*
 Disable buggy font boosting in Chrome for Android
 https://bugs.webkit.org/show_bug.cgi?id=84186

 ...And in mobile safari
 https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
*/
body * {
  max-height: 1000000em;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-stack-sans;
  line-height: 1.4;
  color: $color-font;
  font-size: $font-size-base;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

p, 
ul, 
ol, 
dl,
blockquote,
form,
fieldset,
table,
caption,
figure {
  margin: 0 0 1.4rem;
}




