
[role="banner"] {
  position: sticky;
  top: 0;
  background: rgba(255,255,255,.95);

  @include tablet {
    height: 5rem;
    border-bottom: solid 1px #ccc;
  }
}

@supports (backdrop-filter: blur(4px)) {
  [role="banner"] {
    background: rgba(255,255,255,.85);
    backdrop-filter: blur(4px);
  }
}

main { }

[role="contentinfo"] {
  border-top: solid 1px #ccc;
  padding: 2rem;
}

