
/*

  Layout

  Styles for layout containers. Uses Bourbon's Neat library for row and column mechanics. See. http://neat.bourbon.io/

  Styleguide 9.0 

*/


/*

  Contrained

  Constrains a content block to a maximum width and pads it with white space.

  markup:
  <div class="constrained">
    <p>This block won't expand any wider than 65em, and will remain centered in its container.</p>
  </div>

  Styleguide 9.1

*/
.constrained {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;

  @include traditional {
    padding-left: 1em;
    padding-right: 1em;
  }

}


/*

  Remove leading margin from first-child elements and bottom margin from last-child elements to keep consistent white-space padding in padded containers.  

*/


/*

  Rows and Columns

  Generic row and column layout blocks.

  .padded        - Pad row top and bottom
  .padded-top    - Pad top only
  .padded-bottom - Pad bottom only

  markup:
  <div class="row {$modifiers}">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
  </div>
  <div class="row {$modifiers}">
    <div class="col-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
    <div class="col-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
    <div class="col-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
  </div>
  <div class="row {$modifiers}">
    <div class="col-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
    <div class="col-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
    <div class="col-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
    <div class="col-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, rerum, odio. A numquam asperiores nulla, delectus similique quam molestiae dolore. Est nam officia commodi deserunt fugiat asperiores iure odio omnis!</p>
    </div>
  </div>

  Styleguide 9.2

*/
.row {
  @include row();
  padding: 0 1em;
}

.padded {
  padding-top: 1em;
  padding-bottom: 1em;

  @include tablet {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  @include traditional {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.padded-top {
  padding-top: 1em;

  @include tablet {
    padding-top: 2em;
  }

  @include traditional {
    padding-top: 3em;
  }
}

.padded-bottom {
  padding-bottom: 1em;

  @include tablet {
    padding-bottom: 2em;
  }

  @include traditional {
    padding-bottom: 3em;
  }
}

.col-3 {
  @include traditional {
    @include span-columns(3);
  }
}

.col-4 {
  @include tablet {
    @include span-columns(4);
  }
}

.col-6 {
  @include traditional {
    @include span-columns(6);
  }
}

.col-8 {
  @include traditional {
    @include span-columns(8);
  }
}

.col-9 {
  @include traditional {
    @include span-columns(9);
  }
}

.col-12 {
  @include traditional {
    @include span-columns(12);
  }
}




