
/*

  Layout

  Styles for layout containers. Uses Bourbon's Neat library for row and column mechanics. See. http://neat.bourbon.io/

  Styleguide 9.0 

*/


/*

  Contrained

  Constrains a content block to a maximum width and pads it with white space.

  markup:
  <div class="constrained">
    <p>This block won't expand any wider than 65em, and will remain centered in its container.</p>
  </div>

  Styleguide 9.1

*/
.constrained {
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
}
