
/*
  Modules

  Weight: 5

  Styleguide Modules
*/

/* 
  Form Layout

  Each line of a form should be wrapped in a `.form-line`. 

  markup: formline.html

  Styleguide Form.Layout
*/
.form-input-full,
.form-input-half,
.form-input-third,
.form-input-quarter {
  width: 100%;
  margin: 0 0 $line-height;
}

@include tablet {

  .form-line {
    position: relative;
    left: 1%; /*Keep form lines centered. Offsets the 3% trailing margin */
    width: 100%;
    margin-bottom: $line-height;
    @include clearfix;
  }

  .form-input-full,
  .form-input-half,
  .form-input-third,
  .form-input-fourth,
  .form-input-three-fourths {
    margin: 0;
  }

  .form-input-full {
    float: left;
    width: 98%;
    margin-right: 2%;
  }

  .form-input-half {
    float: left;
    width: 48%;
    margin-right: 2%;
  }

  .form-input-third {
    float: left;
    width: 31.3333333%;
    margin-right: 2%;
  }

  .form-input-fourth {
    float: left;
    width: 23%;
    margin-right: 2%;
  }

  .form-input-three-fourths {
    float: left;
    width: 73%;
    margin-right: 2%;
  }

}


/* 
  Radio/Checkbox Layout 

  Group radio buttons and checkboxes in a `fieldset.input-list`

  markup: inputlist.html

  Styleguide Form.RadioCheckboxLayout
*/
.input-list {
  legend {
    @extend label;
    padding-left: .5em;
    padding-right: .5em;
    line-height: 1;
  }

  ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    padding-top: .1em;
    padding-bottom: .1em;
    padding-left: 2.2em;
    margin: 0;

    > input {
      margin-top: .1em;
      margin-left: -2em;
      vertical-align: top;
    }
  }

  label {
    text-transform: none;
    font-size: 100%;
  }
}


/*
  Input Hints

  Use input hints to offer hints or instructions to help users complete a form field.

  markup: 
  <label for="input-hint">Name</label>
  <input type="text" id="input-hint" name="input-hint" />
  <span class="input-hint">Full, legal name</span>

  Styleguide Form.Hint
*/
.input-hint 
{
  display: block;
  padding: 0 .4em;
  margin: .5em 0 0;
  color: #aaa;
  font-size: 80%;
  font-family: $font-stack-form-ui;
}


/*
  Error Fields 

  When validation fails for an input, wrap the label and 
  input in a `div.is-error` and include a `div.error-msg` below the input. 

  markup:
  <div class="is-error">
    <label for="error-field">Name</label>
    <input type="text" id="error-field" name="error-field" />
    <div class="error-msg">Wrong!! :)</div>
  </div>

  Styleguide Form.Errors
*/
.is-error {
  label {
    color: $color-error;
  }
  input {
    border-color: $color-error;
    border-radius: .2em .2em 0 0;
    &:focus {
      border-color: $color-error;
    }
  }
}

.error-msg {
  display: block;
  padding: .5em;
  border-radius: 0 0 .2em .2em; 
  background: $color-error;
  color: #fff;
  font-family: $font-stack-form-ui;
}


/* 
  Numeric Data

  Mark numeric data as `td.numeric` for right-alignment.

  markup: table-numeric.html

  weight: 1

  Styleguide Table.Numeric
*/
.numeric {
  text-align: right;
}


/*
  Responsive Wrapper

  For a simple responsive solution, wrap tables in a `div.table-wrap`. Allows for horizonal scrolling for tables wider than the viewport.

  markup: table-responsive-scroll.html

  Styleguide Table.Responsive
*/
.table-wrap {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


/*
  Responsive Table (Linearized)

  "Linearizes" table cells for small viewports. Relies on duplicating the 
  table headings in data-label attributes for each cell.

  markup: table-responsive-linear.html

  Styleguide Table.Linearize
*/
@media screen and (max-width: 37.5em) {
  .linearizable {
    thead {
      display: none;
    }
    tr {
      display: block;
      padding: .4em;
      margin: 0 0 1em;
      border: solid 1px #ccc;
      border-radius: .4em;

      &:nth-child(even) td {
        background: transparent;
      }
    }
    td {
      display: block;
      padding: .6em;
      border-bottom: dotted 1px #ccc;
      text-align: right;

      &:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}


/*
  Message Box

  Use to alert the user about a current or potential outcome such as success, failure or a warning. There are four types of messages.

  .warning - More important than your standard message. Warns of potential danger.
  .error   - An error has occurred
  .success - A success message

  markup: message-box.html

  Styleguide Modules.MessageBox
*/
%msg {
  display: block;
  padding: 1em 1.4em;
  margin: $line-height 0;
  line-height: 1.4;
  border-radius: .25em;
  border-style: solid;
  border-width: 2px;

  >.notice__heading {
    margin: 0 0 .25em;
    padding: 0;
    color: $color-soft-black;
    color: rgba(0,0,0,.7);
    font-size: 1em;
    font-weight: bold;
  }

  >:last-child {
    margin-bottom: 0;
  }

  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
    border: 0;
    border-color: #000;
    border-color: rgba(0,0,0,.7);
    border-width: 0 0 1px;
    border-style: solid;
  }
}

.msg {
  @extend %msg;
  background: #c8edfd;
  color: $color-info;
  border-color: #0ca3e1;

  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: $color-info;
    text-decoration: none;
    border-bottom-color: $color-info;
  }
}

.msg.success {
  @extend %msg;
  background: #D0FDCF;
  color: $color-success;
  border-color: #79c279;

  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: $color-success;
    border-bottom-color: $color-success;
  }
}

.msg.warning {
  @extend %msg;
  background: #FFFEDF;
  color: $color-warning;
  border-color: #cfcf70;

  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: $color-warning;
    border-bottom-color: $color-warning;
  }
}

.msg.error {
  @extend %msg;
  background: #FFEEEE;
  color: $color-error;
  border-color: #cc0000;

  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: $color-error;
    border-bottom-color: $color-error;
  }
}


/* 
  Implied Content

  Use to hide content that would be implied for visual users, such
  as in "read more" links. (idea swiped from the css of informationarchitects.jp)

  markup:
  <a href="#">Read more <span class="implied">about jackelopes</span></a>

  Styleguide Typography.Implied
*/
.implied
{
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: transparent;
}


/*
  No Wrap

  Prevents text from breaking across lines.

  markup: <span class="nowrap">This text won’t wrap.</span>

  Styleguide Typography.Nowrap
*/
.nowrap {
  white-space: nowrap;
}


/*
  Centered

  Centers inline and block content.

  markup: <p class="centered">This text is centered</p>

  Styleguide Modules.Centered
*/
.centered {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


/*
  Fineprint

  Note such as a footnote of asterisked note.

  markup: <p class="fineprint">*This is fine print—terms, conditions, footnote, legalese, etc.</p>

  Styleguide Typography.Fineprint
*/
.fineprint {
  font-style: italic;
  font-size: 85%;
}


/*
  Text Label

  A text label that communicates importance.

  .label--important - an important label

  markup: <span class="label {{modifier_class}}">New!</span><br> Some timely information.

  Styleguide Typography.TextLabel
*/
.label {
  font-size: 75%;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

.label--important {
  @extend .label;
  color: red;
}


/* 
  Pull quote

  Use a pullquote to highlight a quote in a large and eye-catching manner.

  markup: pullquote.html

  Styleguide Typography.Pullquote
*/
.pullquote {
  padding: 0;
  margin: 1em auto;
  border: 0;
  text-align: center;
  font-size: 1.6rem;

  &:before,
  &:after {
    content: '';
    display: block;
    height: 1px;
    background: #ccc;
    margin-right: auto;
    margin-left: auto;
  }

  &:before {
    margin-bottom: 1em;
  }

  &:after {
    margin-top: 1em;
  }

  .pullquote__quote {
    margin: 0 auto 1rem;
    max-width: 30em;
    padding: 0 1rem;
    font-family: $font-stack-serif;
    font-style: italic;
    line-height: 1.4;
    color: $color-font;

    &:before {
      content: '“';
    }

    &:after {
      content: '”'
    }
  }

  .pullquote__source {
    font-family: $font-stack-serif;
    font-style: normal;
    font-size: .9rem;
    line-height: 1.4;
    color: #aaa;
  }

  @include tablet {
    padding: 1em;

    &:before {
      margin-bottom: 2.5rem;
    }

    &:after {
      margin-top: 2.5rem;
    }
  }
}


/* 
  Instrinsic Image Sizes

  Renders image wrapper element at correct dimensions even before the image loads. Minimizes page repaints, reflows.

  http://daverupert.com/2015/12/intrinsic-placeholders-with-picture/

  markup: intrinsic.html

  Styleguide Modules.InstrinsicImages
*/
.intrinsic {

  // Make sure wrapper is set to block
  display: block;

  // Intrinsic Ratio Box
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%; // Default to square
  background: #f0f0f0;

  // Add as many ratios as you'd like...
  &.intrinsic--square {
    padding-top: 100%;
  }

  &.intrinsic--4x3 {
    padding-top: 75%;
  }

  &.intrinsic--16x9 {
    padding-top: 56.25%;
  }

  // Force the item to fill the intrinsic box
  > img,
  > iframe,
  > embed,
  > object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*
  Old Browser Notice

  A notice banner for older browsers encouraging users to upgrade. Really only targets old IE
  right now. Message is set to `display: none` unless it's a child of an element with a class of
  `ie6`, `ie7`, `ie8`, `ie9`. Use IE conditional comments to add these classes to the `html` root
  element.

  markup: old-browser-notice.html

  Styleguide Modules.OldBrowserNotice
*/
.old-browser-notice {
  display: none;
  background: $color-info;

  p {
    padding: 1rem;
    margin: 0 auto;
    font: normal .9em/1.4 $font-stack-sans;
    max-width: 45em;
    color: #fff;
    text-align: center;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    color: lighten($color-info, 60%);
    text-decoration: underline;
    border: 0;
  }

  a:hover {
    text-decoration: none;
  }
}

.ie7 .old-browser-notice,
.ie8 .old-browser-notice,
.ie9 .old-browser-notice {
  display: block;
}


/*
  Badges

  Add information. Usage: add `.badge` to a span.

  markup: <span class="badge">label</span>

  Styleguide Modules.Badge
*/
.badge {
  display: inline;
  padding: .2rem .5rem .25rem;
  margin: 0 .2rem 0 0;
  list-style: none;
  border-radius: .599609375rem; 
  font-style: normal;
  font-size: .625rem;
  font-family: $font-stack-sans;
  line-height: 1;
  letter-spacing: .6px;
  text-transform: uppercase;
  background: #e0e5ee;
  color: rgba(0,0,0,.6);
}


/*
  Code Block

  A block of source code.

  markup:
  <code class="code-block">function ( param ) {
    var foo = param;
    doSomething( foo );
  }
  </code>

  Styleguide Typography.CodeBlock
*/
code.code-block {
  display: block;
  white-space: pre;
  padding: 1em;
}

