
// 
// DEFINE VARIABLES
// 
// Define base font sizes, colors and other site-wide values here.
// 

// Font attributes
$font-size-base: 16px;
$line-height: 1.375rem;
$font-stack-sans: "Helvetica Neue", Helvetica, Verdana, sans-serif;
$font-stack-serif: Georgia, serif;
$font-stack-mono: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
$font-stack-form-ui: $font-stack-sans;


// Colors
$color-link: #06c;

$color-info: #066085;
$color-success: #4b6b4b;
$color-warning: #6c6c3a;
$color-error: #c03333;

$color-selected-box: #198bed;
$color-btn: #0070c5;
$color-btn-highlight: saturate(lighten($color-btn, 5%), 5%);

$color-soft-black: #33363b;
$color-font: $color-soft-black;


// Device class, named breakpoints
$bigphone: 31.25em; //  500/16
$reader: 37.5em;    //  600/16
$tablet: 48em;      //  768/16
$traditional: 64em; // 1024/16
$large: 87.5em;     // 1400/16


/*

  Breakpoint: Big Phone

  Mixin to make breakpoint declarations more succinct.

  Styleguide 8.3

*/
@mixin bigphone {
  @media screen and (min-width: $bigphone) {
    @content;
  }
}


/*

  Breakpoint: Reader

  Mixin to make breakpoint declarations more succinct.

  Styleguide 8.4

*/
@mixin reader {
  @media screen and (min-width: $reader) {
    @content;
  }
}


/*

  Breakpoint: Tablet

  Mixin to make breakpoint declarations more succinct.

  Styleguide 8.5

*/
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}


/*

  Breakpoint: Traditional

  Mixin to make breakpoint declarations more succinct.

  Styleguide 8.6

*/
@mixin traditional {
  @media screen and (min-width: $traditional) {
    @content;
  }
}


/*

  Breakpoint: Large

  Mixin to make breakpoint declarations more succinct.

  Styleguide 8.7

*/
@mixin large {
  @media screen and (min-width: $large) {
    @content;
  }
}


/*

  Sass Mixins

  Sass mixins.

  Styleguide 8.0

*/

/*

  ligatures()

  !!Use with care. Has broken font rendering in IE with some fonts!!

  https://www.typotheque.com/articles/opentype_features_in_web_browsers
  https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering

  Compatible in IE 10+, FF 23+, Chrome 29+, Safari 7+, Opera 17+, iOS Safari 7+, Android Browser 4.4+, Blackberry 10+

  Styleguide 8.1

*/
@mixin ligatures() {
  font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";       
  -webkit-font-feature-settings: "liga" on, "dlig"; 
  -o-font-feature-settings: "liga" on, "dlig";     
  text-rendering: optimizeLegibility;
}


/*

  rems($property, $value)

  Accepts either px or rem value. Using REM values allows
  modern browsers to use a flexible, relative unit, while browsers that don't
  understand REMs can use a px value.
  (based on http://drublic.de/blog/rem-fallback-sass-less/)

  $property - the css property
  $value    - the px or rem value

  Deprecated: Rems are supported in all modern browsers. Phase out px fallback.

  Styleguide 8.2

*/
@mixin rems($property, $value) {
  @if unit($value) == "px" {
    #{$property}: $value;
    #{$property}: #{$value / $font-size-base}rem;
  } @else {
    #{$property}: #{$value * $font-size-base}px;
    #{$property}: #{$value}rem;
  }
}


/*

  Clearfix.

  Standard clearfix hack to clear floats in a container. Use flexbox for
  layout when possible, but this is here just in case.

  Styleguide 8.3

*/
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}



/*

  Colors & Variables

  Global variables for font, color and breakpoints.

  <h2>Font Variables</h2>
  <ul>
    <li><strong>$font-size-base:</strong> #{$font-size-base}</li>
    <li><strong>$line-height:</strong> #{$line-height}</li>
    <li><strong>$font-stack-sans:</strong> #{$font-stack-sans}</li>
    <li><strong>$font-stack-serif:</strong> #{$font-stack-serif}</li>
    <li><strong>$font-stack-mono:</strong> #{$font-stack-mono}</li>
    <li><strong>$font-stack-form-ui:</strong> #{$font-stack-form-ui}</li>
  </ul>

  <hr>

  <h2>Colors</h2>
  <ul class="kss-color-swatches">
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-info}"></div>
      <div class="kss-color-name">$color-info</div>
      <div class="kss-color-value">#{$color-info}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-success}"></div>
      <div class="kss-color-name">$color-success</div>
      <div class="kss-color-value">#{$color-success}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-warning}"></div>
      <div class="kss-color-name">$color-warning</div>
      <div class="kss-color-value">#{$color-warning}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-error}"></div>
      <div class="kss-color-name">$color-error</div>
      <div class="kss-color-value">#{$color-error}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-selected-box}"></div>
      <div class="kss-color-name">$color-selected-box</div>
      <div class="kss-color-value">#{$color-selected-box}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-btn}"></div>
      <div class="kss-color-name">$color-btn</div>
      <div class="kss-color-value">#{$color-btn}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-btn-highlight}"></div>
      <div class="kss-color-name">$color-btn-highlight</div>
      <div class="kss-color-value">#{$color-btn-highlight}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-soft-black}"></div>
      <div class="kss-color-name">$color-soft-black</div>
      <div class="kss-color-value">#{$color-soft-black}</div>
    </li>
    <li class="kss-color-swatch">
      <div class="kss-color-block" style="background:#{$color-font}"></div>
      <div class="kss-color-name">$color-font</div>
      <div class="kss-color-value">#{$color-font}</div>
    </li>
  </ul>

  <hr>

  <h2>Named Breakpoints</h2>
  <ul>
    <li><strong>$reader</strong>: #{$reader}</li>
    <li><strong>$tablet</strong>: #{$tablet}</li>
    <li><strong>$traditional</strong>: #{$traditional}</li>
  </ul>

  Styleguide 7.0

*/