
.modal {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.8);
  overflow: scroll;
}

.dialog {
  margin: 10vh auto;
  width: 100%;
  max-width: 30rem;
  padding: 1.5em;
  border-radius: .25rem;
  background: #fff;
  box-shadow: 0 1em 5em rgba(0,0,0,1);

  .dialog__footer {
    button {
      margin-right: .5em;
    }
  }

  .dialog__header {}
  .dialog__body {}

  .dialog__heading {
    font: bold 1.2em/1.4 $font-stack-sans;
  }

}