
<button class="open-modal">Open Modal</button>

<div title="{{ title }}" class="modal-content"><p>{{ content }}</p></div>

<script>
  var okayCallback = function( modal ) {
    // Do something... 
    modal.close();
  };

  new Modal({
    trigger: ".open-modal",
    content: ".modal-content",
    buttons: [
      {{#each buttons }}
      
      { text: "{{ button.text }}"{{#if button.callback }}, callback: {{ button.callback }}{{/if}} },
      {{/each}}
    ]
  });
</script>