<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th class="numeric">Digital</th>
      <th class="numeric">LP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Flaming Lips</td>
      <td>The Soft Bulletin</td>
      <td class="numeric">$9.99</td>
      <td class="numeric">$22.99</td>
    </tr>
    <tr>
      <td>Nirvana</td>
      <td>Bleach</td>
      <td class="numeric">$8.99</td>
      <td class="numeric">$20.99</td>
    </tr>
  </tbody>
</table>

