/*
  Social Share Buttons

  Twitter and Facebook share buttons. For Twitter configuration see https://dev.twitter.com/web/tweet-button and https://about.twitter.com/resources/buttons. For Facebook see https://developers.facebook.com/docs/plugins/share-button

  markup: social-media-share.html

  Styleguide Modules.SocialSharing
*/
.social-share {
  > span,
  > div,
  > iframe {
    display: inline-block;
    vertical-align: middle;
  }
}
