{{ render '@header' }}

<main id="main">
  <div class="constrained">
    <h1>Title</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, iste amet tempora, eligendi exercitationem
      recusandae officiis nostrum nobis eos, repellat unde quia deserunt maxime mollitia consequatur incidunt similique
      eius? Eligendi?</p>

    <h2>A Subheading</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam soluta non recusandae quo ab modi doloremque,
      eveniet mollitia doloribus natus dolore optio hic illo aut quos libero inventore error. Nostrum?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus consequuntur, recusandae odio, blanditiis
      itaque, a provident ab ut molestias error vero veniam quos nesciunt libero placeat corrupti nihil nostrum natus.
    </p>

    <h3>Third Level Heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, voluptas! Tenetur obcaecati, facere
      consectetur quas incidunt consequatur porro consequuntur dignissimos molestias magnam, expedita, ex quia. Modi
      alias sequi officia nam!</p>

    <h4>Fourth Level Heading</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nihil doloremque magnam, commodi sint perspiciatis reiciendis nisi enim ut placeat autem eaque cum dicta ducimus quasi molestiae officiis ullam fugit.</p>

    {{ render '@blockquote' }}

    <h5>Fifth Level Heading</h5>
    {{ render '@table--linear' }}
  </div>
</main>

{{> @footer }}