

<!-- Start: @button--default -->
<a href="#" 
   
  class="btn" 
  href="http://example.com">Link Default</a>
<button 
   
  class="btn">Button Default</button>
<!-- End: @button--default -->

<!-- Start: @button--small -->
<a href="#" 
   
  class="btn btn--small" 
  href="http://example.com">Link Small</a>
<button 
   
  class="btn btn--small">Button Small</button>
<!-- End: @button--small -->

<!-- Start: @button--large -->
<a href="#" 
   
  class="btn btn--large" 
  href="http://example.com">Link Large</a>
<button 
   
  class="btn btn--large">Button Large</button>
<!-- End: @button--large -->

<!-- Start: @button--danger -->
<a href="#" 
   
  class="btn btn--danger" 
  href="http://example.com">Link Danger!</a>
<button 
   
  class="btn btn--danger">Button Danger!</button>
<!-- End: @button--danger -->

<!-- Start: @button--outline -->
<a href="#" 
   
  class="btn btn--outline" 
  href="http://example.com">Link Outline</a>
<button 
   
  class="btn btn--outline">Button Outline</button>
<!-- End: @button--outline -->

<!-- Start: @button--forward -->
<a href="#" 
   
  class="btn btn--forward" 
  href="http://example.com">Link Forward</a>
<button 
   
  class="btn btn--forward">Button Forward</button>
<!-- End: @button--forward -->

<!-- Start: @button--back -->
<a href="#" 
   
  class="btn btn--back" 
  href="http://example.com">Link Back</a>
<button 
   
  class="btn btn--back">Button Back</button>
<!-- End: @button--back -->

<!-- Start: @button--add -->
<a href="#" 
   
  class="btn btn--add" 
  href="http://example.com">Link Add</a>
<button 
   
  class="btn btn--add">Button Add</button>
<!-- End: @button--add -->

<!-- Start: @button--delete -->
<a href="#" 
   
  class="btn btn--delete" 
  href="http://example.com">Link Delete</a>
<button 
   
  class="btn btn--delete">Button Delete</button>
<!-- End: @button--delete -->

<!-- Start: @button--download -->
<a href="#" 
   
  class="btn btn--download" 
  href="http://example.com">Link Download</a>
<button 
   
  class="btn btn--download">Button Download</button>
<!-- End: @button--download -->

<!-- Start: @button--disabled -->
<a href="#" 
  disabled 
  class="btn btn--disabled" 
  href="http://example.com">Link Disabled</a>
<button 
  disabled 
  class="btn btn--disabled">Button Disabled</button>
<!-- End: @button--disabled -->

