


<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com">hyperlink</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="hover">hyperlink (hover)</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="visited">hyperlink (visited)</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="focus">hyperlink (focus)</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="active">hyperlink (active)</a>
<br />

