

<!-- Start: @notice--default -->
<div class="notice notice--default">
  <h2 class="notice__heading">Informational Notice</h2>
  <p>This is a default notice. <a href="#">Links are styled to match</a></p>
</div>
<!-- End: @notice--default -->

<!-- Start: @notice--success -->
<div class="notice notice--success">
  <h2 class="notice__heading">Success Notice</h2>
  <p>This is a success notice. <a href="#">Links are styled to match</a></p>
</div>
<!-- End: @notice--success -->

<!-- Start: @notice--warning -->
<div class="notice notice--warning">
  <h2 class="notice__heading">Warning Notice</h2>
  <p>This is a warning notice. <a href="#">Links are styled to match</a></p>
</div>
<!-- End: @notice--warning -->

<!-- Start: @notice--error -->
<div class="notice notice--error">
  <h2 class="notice__heading">Error Notice</h2>
  <p>This is an error notice. <a href="#">Links are styled to match</a></p>
</div>
<!-- End: @notice--error -->

