

<!DOCTYPE html>
<!--[if IE 6]>
<html class="ie ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
<![endif]-->
<!--[if !(IE 6) & !(IE 7) & !(IE 8) & !(IE 9)]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="../../style.css" />

  <!-- TODO: Populate Facebook Open Graph meta tags 
       https://developers.facebook.com/docs/sharing/webmasters 

  <meta property="og:site_name" content="Springboard" />
  <meta property="og:url" content="http://example.com/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Article title" />
  <meta property="og:description" content="Description for FB share" />
  <meta property="og:image" content="http://example.com/image.jpg" />

  END TODO -->

  <!-- TODO: Generate icons and remove the placeholders. http://realfavicongenerator.net/ 
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  END TODO -->

  <!--[if lte IE 9]>
  <script src="/js/lib/html5shiv.min.js"></script>
  <![endif]-->
  
  <script>
    // Async js loading... https://github.com/filamentgroup/loadJS
    function loadJS( src, cb ) {
      "use strict";
      var ref = window.document.getElementsByTagName( "script" )[ 0 ],
      script = window.document.createElement( "script" );
      script.src = src;
      script.async = true;
      ref.parentNode.insertBefore( script, ref );
      if ( cb && typeof( cb ) === "function" ) {
        script.onload = cb;
      }
      return script;
    }

    // Cut-the-mustard / progressive enhancement
    // http://timkadlec.com/2014/10/reducing-javascript-bloat-with-shoestring/
    if ( "querySelector" in document && "addEventListener" in window ) {
      document.documentElement.className += " enhanced";

      // Picturefill polyfil
      loadJS( "../../js/lib/picturefill.min.js" );

      // Main JS file
      loadJS( "../../js/main.min.js" );

    }
  </script> 

</head>
<body>
  
  <a class="skip-link" href="#main">Skip to main content</a>  
</body>
</html>

