

<table class="linearizable">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th>Year</th>
      <th>Format</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Artist">Flaming Lips</td>
      <td data-label="Album">The Soft Bulletin</td>
      <td data-label="Year">1999</td>
      <td data-label="Format">Vinyl</td>
    </tr>
    <tr>
      <td data-label="Artist">Nirvana</td>
      <td data-label="Album">Bleach</td>
      <td data-label="Year">1991</td>
      <td data-label="Format">CD</td>
    </tr>
    <tr>
      <td data-label="Artist">Leonard Cohen</td>
      <td data-label="Album">Old Ideas</td>
      <td data-label="Year">2012</td>
      <td data-label="Format">Vinyl</td>
    </tr>
    <tr>
      <td data-label="Artist">Marshmallow Ghosts</td>
      <td data-label="Album">S/T</td>
      <td data-label="Year">2011</td>
      <td data-label="Format">Vinyl</td>
    </tr>
  </tbody>
</table>

