

<div 
  class="table-"
  
   
  >
  <table>
    <caption >Artists! Albums! Years! Formats!</caption>
    <thead>
      <tr>
        <th >Artist</th>
        <th >Album</th>
        <th class="numeric" >Year</th>
        <th class="numeric" >Digital</th>
        <th class="numeric" >Vinyl</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td 
           
          > Flaming Lips </td>
        <td 
           
          > The Soft Bulletin </td>
        <td 
           
          class="numeric" > 1999 </td>
        <td 
           
          class="numeric" > $9.99 </td>
        <td 
           
          class="numeric" > $22.99 </td>
      </tr>
      <tr>
        <td 
           
          > Nirvana </td>
        <td 
           
          > Bleach </td>
        <td 
           
          class="numeric" > 1991 </td>
        <td 
           
          class="numeric" > $8.99 </td>
        <td 
           
          class="numeric" > $20.99 </td>
      </tr>
      <tr>
        <td 
           
          > Leonard Cohen </td>
        <td 
           
          > Old Ideas </td>
        <td 
           
          class="numeric" > 2012 </td>
        <td 
           
          class="numeric" > $9.99 </td>
        <td 
           
          class="numeric" > $23.99 </td>
      </tr>
      <tr>
        <td 
           
          > Run the Jewels </td>
        <td 
           
          > RTJ 4 🤜🏿 👈🏼 </td>
        <td 
           
          class="numeric" > 2020 </td>
        <td 
           
          class="numeric" > $0.00 </td>
        <td 
           
          class="numeric" > $24.99 </td>
      </tr>
    </tbody>
  </table>
</div>
