select {
  @extend %input;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 500"><path fill="rgba(0,0,0,.5)" d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/></svg>') right .6em center no-repeat, 
  linear-gradient(#fff, #eee) 0 0 no-repeat;
  background-size: 1.375em 1.2em, 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

select:focus {
  @extend %inputfocus;
}