    <h2 class="sbs-heading">Color</h2>
    <p>These color swatches can be edited at <code>components/markup/color.html</code></p>
    <div class="sbs-color-palette">
      <div class="sbs-color-swatch">
        <div class="sbs-color-swatch__sample" style="background: #33363b"></div>
        <div class="sbs-color-swatch__label">
          <h3 class="sbs-color-swatch__name">Soft Black</h3>
          <p class="sbs-color-swatch__code">HEX: #33363b</p>
          <p class="sbs-color-swatch__code">RGB (51, 54, 59)</p>
          <p class="sbs-color-swatch__code">HSB (216, 13, 23)</p>
          <p class="sbs-color-swatch__desc">A description of, or direction for the use of, this color can go here…</p>
        </div>
      </div>
      <div class="sbs-color-swatch">
        <div class="sbs-color-swatch__sample" style="background: #066085"></div>
        <div class="sbs-color-swatch__label">
          <h3 class="sbs-color-swatch__name">Orient</h3>
          <p class="sbs-color-swatch__code">HEX: #066085</p>
          <p class="sbs-color-swatch__code">RGB (6, 96, 133)</p>
          <p class="sbs-color-swatch__code">HSB (196, 95, 52)</p>
          <p class="sbs-color-swatch__desc"></p>
        </div>
      </div>
      <div class="sbs-color-swatch">
        <div class="sbs-color-swatch__sample" style="background: #f4f6f9"></div>
        <div class="sbs-color-swatch__label">
          <h3 class="sbs-color-swatch__name">Smoke White</h3>
          <p class="sbs-color-swatch__code">HEX: #f4f6f9</p>
          <p class="sbs-color-swatch__code">RGB (6, 96, 133)</p>
          <p class="sbs-color-swatch__code">HSB (196, 95, 52)</p>
          <p class="sbs-color-swatch__desc"></p>
        </div>
      </div>
    </div>