<div class="form-line">
  <div class="form-input-half">
    <label for="FirstName">First Name</label>
    <input type="text" id="FirstName" name="FirstName" value="" /> 
  </div>
  <div class="form-input-half">
    <label for="LastName">Last Name</label>
    <input type="text" id="LastName" name="LastName" value="" /> 
  </div>
</div>
<div class="form-line">
  <div class="form-input-third">
    <label for="FirstName">First Name</label>
    <input type="text" id="FirstName" name="FirstName" value="" /> 
  </div>
  <div class="form-input-third">
    <label for="MiddleName">Middle Name</label>
    <input type="text" id="MiddeName" name="MiddleName" value="" /> 
  </div>
  <div class="form-input-third">
    <label for="LastName">Last Name</label>
    <input type="text" id="LastName" name="LastName" value="" /> 
  </div>
</div>
<div class="form-line">
  <div class="form-input-half">
    <label for="City">City</label>
    <input type="text" id="City" name="City" value="" /> 
  </div>
  <div class="form-input-quarter">
    <label for="State">State</label>
    <input type="text" id="State" name="State" value="" /> 
  </div>
  <div class="form-input-quarter">
    <label for="Zip">Zip</label>
    <input type="text" id="Zip" name="Zip" value="" /> 
  </div>
</div>
