<label for="i1">Text</label>
<input type="text" id="i1" name="i1" value="" />
<br><br>
<label for="i2">Password</label>
<input type="password" id="2" name="i2" value="" />
<br><br>
<label for="i3">File</label>
<input type="file" id="3" name="i3" value="" />
<br><br>
<label for="i4">Datetime</label>
<input type="datetime" id="" name="i4" value="" />
<br><br>
<label for="i5">Datetime-local</label>
<input type="datetime-local" id="i5" name="i5" value="" />
<br><br>
<label for="i6">Date</label>
<input type="date" id="i6" name="i6" value="" />
<br><br>
<label for="i7">Month</label>
<input type="month" id="i7" name="i7" value="" />
<br><br>
<label for="i8">Time</label>
<input type="time" id="i8" name="i8" value="" />
<br><br>
<label for="i9">Week</label>
<input type="week" id="i9" name="i9" value="" />
<br><br>
<label for="i10">Number</label>
<input type="number" id="i10" name="i10" value="" />
<br><br>
<label for="i11">Email</label>
<input type="email" id="i11" name="i11" value="" />
<br><br>
<label for="i12">Url</label>
<input type="url" id="i12" name="i12" value="" />
<br><br>
<label for="i13">Search</label>
<input type="search" id="i13" name="i13" value="" />
<br><br>
<label for="i14">Tel</label>
<input type="tel" id="i14" name="i14" value="" />
<br><br>
<label for="i15">Color</label>
<input type="color" id="i15" name="i15" value="" />
<br><br>
<label for="i16">Range</label>
<input type="range" id="i16" name="i16" min="0" max="100" step="10" value="" />
