<picture class="intrinsic intrinsic--square">
  <source media="(min-width: 500px)" srcset="http://placehold.it/1000x1000?text=Square">
  <img class="intrinsic-item" srcset="http://placehold.it/300x300?text=Square" alt="Square Image">
</picture>

<hr>

<div class="intrinsic intrinsic--4x3">
  <img class="intrinsic-item" srcset="http://placehold.it/1200x900?text=4x3" alt="4x3 Image">
</div>

<hr>

<div class="intrinsic intrinsic--16x9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XnBbjc5hmho" frameborder="0" allowfullscreen></iframe>
</div>
