<table>
  <thead>
    <tr>
      <th class="numeric">Regular Price</th>
      <th class="numeric">25% Off</th>
      <th class="numeric">50% Off</th>
      <th class="numeric">75% Off</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="numeric">$2.00</td>
      <td class="numeric">$1.50</td>
      <td class="numeric">$1.00</td>
      <td class="numeric">$0.50</td>
    </tr>
    <tr>
      <td class="numeric">$3.00</td>
      <td class="numeric">$2.25</td>
      <td class="numeric">$1.50</td>
      <td class="numeric">$0.75</td>
    </tr>
    <tr>
      <td class="numeric">$4.00</td>
      <td class="numeric">$3.00</td>
      <td class="numeric">$2.00</td>
      <td class="numeric">$1.00</td>
    </tr>
  </tbody>
</table>
