
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="{{ icon.name }} icon" class="social-icon">
  <title>{{ icon.name }} icon</title>
  <use xlink:href="../../../images/{{ filename }}#{{ icon.id }}" />
</svg>
