
/*
  Menu Link

*/
.menu,
.menu:link,
.menu:visited,
.menu:hover,
.menu:focus,
.menu:active {
  padding: 1rem;
  border: 0;
  background: $color-soft-black;
  color: #fff;
  color: rgba(255,255,255,.9);
  font-size: 75%;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
