/*
  Lozenge
*/
.lozenge {
  display: inline;
  padding: .2rem .5rem .25rem;
  margin: 0 .2rem 0 0;
  list-style: none;
  border-radius: .599609375rem; 
  font-style: normal;
  font-size: .625rem;
  font-family: $font-stack-sans;
  line-height: 1;
  letter-spacing: .6px;
  text-transform: uppercase;
  background: #e0e5ee;
  color: rgba(0,0,0,.6);
}

