

/*
  Color

  markup: colors.html

  weight: -2

  Styleguide Branding
*/


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; 
  box-sizing: border-box;

  &::selection {
    background: $color-text-select;
  }
}

html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
}


/*

 Disable buggy font boosting in Chrome for Android
 https://bugs.webkit.org/show_bug.cgi?id=84186

 ...And in mobile safari
 https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust

*/
body * {
  max-height: 1000000em;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-stack-sans;
  line-height: 1.4;
  color: $color-font;
  font-size: $font-size-base;
  // @include ligatures();
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

p, 
ul, 
ol, 
dl,
blockquote,
form,
fieldset,
table,
caption,
figure {
  margin: 0 0 $line-height;
}


/*
  Typography

  Ligatures are turned off by default, but can be turned on by uncommenting @include ligatures()

  weight: 1

  Styleguide Typography
*/

/*
  Headings

  markup: headings.html

  weight: -2

  Styleguide Typography.Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-sans;
  color: $color-soft-black;
  font-weight: bold;
  line-height: 1;
}

h1, 
.h1 {
  font-size: 2.625em; 
  margin-bottom: $line-height;

  @include tablet {
    font-size: 3.75em;
  }
}

h2, 
.h2 {
  font-size: 2em;
  margin-bottom: $line-height/2;
}

h3, 
.h3 {
  font-size: 1.5em;
  margin-bottom: $line-height/2;
}

h4, 
.h4 {
  font-size: 1.3125em;
  margin-bottom: $line-height/2;
}

h5, 
.h5 {
  font-size: 1.125em;
  margin-bottom: $line-height/2;
}

h6, 
.h6 {
  font-size: .9em;
  margin-bottom: $line-height/4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  color: lighten($color-font, 30%);
}

/*
  Paragraphs

  Paragraphs are separated by a standard line height (see `_vars_mixins.scss` for all variables).

  markup: paragraphs.html

  weight: -1

  Styleguide Typography.Paragraph
*/


/*
  Lists

  Unordered and ordered lists use disc and decimals respectively, 
  and definition lists display definition terms in bold.

  markup: lists.html

  Styleguide Typography.Lists
*/
ul, 
ol {
  padding-left: 1.5em;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;

  ol {
    list-style: lower-alpha outside;
  }
}

li {
  margin-bottom: $line-height/2;

  > ul, ol, dl {
    margin-top: $line-height/2;
    margin-bottom: $line-height/2;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: $line-height;
}


/*

  Blockquotes

  Use blockquotes for larger quote passages. Include the quote 
  itself in one or more &lt;p&gt; elements.

  markup: blockquote.html

  Styleguide Typography.Blockquotes
  
*/
blockquote {
  border-left: solid 4px #ccc;
  padding-left: 1.4em;
  color: #777;
  font-family: $font-stack-serif;
  line-height: 1.5;
}


/*
  Inline styles 

  strong, em, sub, sup, mark, q, time, meter, progress, b, i, pre, abbr.

  markup: inline.html

  Styleguide Typography.InlineStyles
*/

strong {
  color: #333;
  font-weight: bold;
}

em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  background: #ff0;
  font-weight: 400;
  font-style: normal;
}

pre {
  white-space: pre;
  font-family: $font-stack-mono;
  font-size: 90%;
  font-style: normal;
  text-transform: none;
}

abbr {
  border-bottom: dotted 1px #ccc;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

time {}

meter {}

progress {}

b {
  font-weight: bold; // http://dev.w3.org/html5/markup/b.html 
}

i {
  font-style: italic; // http://dev.w3.org/html5/markup/i.html 
}


/*
  Code

  Inline source code.

  markup:
  <p>Use the <code>var</code> keyword to initialize a variable.</p>

  Styleguide Typography.Code
*/
code {
  background: #f3f3f3;
  padding: 0 .3em;
  border: solid 1px #ddd;
  border-radius: .2em;
  font-family: $font-stack-mono;
  font-size: 90%;
  font-style: normal;
  text-transform: none;
}


/*
  Link

  Default link text is underlined.

  markup:
  <a class="{{modifier_class}}" href="http:example.com/safasfsdf">your sample link</a>

  :visited - Visited: lighter color
  :hover   - Hover: no underline
  :focus   - Focus: same as hover 
  :active  - Active: same as hover  

  Styleguide Typography.Link
*/
a {
  color: $color-link;
  text-decoration: none;
  @include textShadowUnderlineCrop(#fff);
  @include smartUnderline(#fff, $color-link);

  &:hover,
  &:focus,
  &:active { 
    text-decoration: none;
    border-bottom: none;
  }

  &:visited {
    color: $color-link-visited;
    @include smartUnderline(#fff, $color-link-visited);
  }

  &:hover {
    background: none;
  }

  &::selection {
    text-shadow: none;
  }
}


/*
  Horizontal Rule 

  Use horizontal rules to visually separate distinct “chunks” of a page.

  markup: hr.html

  Styleguide Typography.HorizontalRule
*/
hr {
  clear: both;
  border: solid 1px #ccc;
  border-width: 1px 0 0;
  margin-top: 2em;
  margin-bottom: 2em;
}


/*
  Tables

  weight: 2

  Styleguide Table
*/

/* 
  Tables 

  By default tables will expand to 100% of their container. Content will be top-left aligned and cells in even rows are tinted.

  markup: table.html

  Styleguide Table.Default
*/
table {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  font-size: .9em;

  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
}

thead,
tbody,
tfoot {
  width: 100%;
}

th, td {
  font-family: $font-stack-sans;
  vertical-align: top;
  text-align: left;
  border-bottom: solid 1px #ccc;
  padding: $font-size-base/2 $font-size-base;
}

tr:nth-child(even) th,
tr:nth-child(even) td {
  background: #f3f3f3;
}

th {
  font-weight: bold;
}

caption {
  color: #888;
  caption-side: top;
  text-align: left;
}


/*
  Forms

  weight: 3

  Styleguide Form
*/


/* 
  Fieldset and legend

  markup: fieldset.html
  
  Styleguide Form.Fieldset
*/
fieldset 
{
  border: solid 1px #ccc;
  border-radius: .5em; 
  padding: #{$line-height};

  > :last-child {
    margin-bottom: 0;
  }
}

legend 
{
  padding: 0 1em;
  margin-left: -1em;
  color: #333;
  font-family: $font-stack-form-ui;
  font-weight: bold;
}


/* 
  Labels and Inputs

  :focus   - darker border
  :valid   - no special style (negates default outline/color added by some browsers);
  :invalid - red border

  markup:
  <label for="name">Name</label>
  <input class="{{modifier_class}}" type="text" id="name" name="name" placeholder="first and last" />
  
  Styleguide Form.Label
*/
label
{
  display: inline-block;
  padding-left: .4em;
  margin: 0 0 .25em;
  color: #555;
  text-transform: uppercase;
  font-size: 80%;
  font-family: $font-stack-form-ui;
  letter-spacing: 1px;
}


/*
  Input Types

  Each of the different HTML5 input types.

  markup: inputs.html

  Styleguide Form.Inputs
*/
input[type="text"], 
input[type="password"], 
input[type="file"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
select, 
textarea {
  display: inline-block;
  width: 100%;
  padding: .5em;
  border: solid 1px #999;
  border-radius: .25em; 
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  color: $color-font;
  background: #fff;
  appearance: none;
}

input[type="color"], 
input[type="range"] {
  font-size: inherit;
  font-family: $font-stack-form-ui;
  outline: 0;
  display: inline-block;
  width: 100%;
  box-shadow: none;
}

/*
Make sure date/time fields are as tall as empty text fields for consistency.
Mobile Safari collapses them.
line height + vertical padding + border widths
*/
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"] {
  min-height: calc(#{$line-height} + .5em + 4px); 
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="file"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
select:focus, 
textarea:focus {
  border-color: $color-field-focus;
  box-shadow: none;
  outline: 0;
}

input[type="color"]:focus, 
input[type="range"]:focus {
  outline: 0;
}

input[type="color"] {
  /*Ensure height matches text input height*/
  height: "#{$font-size-base/2} + #{$line-height}";
  background: transparent;
}


/*
  Radio Buttons

  markup: radio.html

  Styleguide Form.Radio
*/
input[type="radio"] {
  border: solid 1px #999;
  font-size: 1.2em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;

  &:checked, 
  &:active, 
  &:focus {
    outline: 0;
  }
}


/*
  Checkbox

  markup: checkbox.html

  Styleguide Form.Checkbox
*/
input[type="checkbox"] {
  border: solid 1px #999;
  border-radius: .2em;
  font-size: 1em;
  height: 1em;
  width: 1em;
  line-height: 1;
  vertical-align: middle;
  appearance: none;

  &:checked, 
  &:active, 
  &:focus {
    outline: 0;
  }
}

input[type="radio"],
input[type="checkbox"] {
  transition: 
    background-color 100ms ease-in-out, 
    background-image 100ms ease-in-out, 
    border 100ms ease-in-out;
  margin: 0 0 .25em;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: 
    $color-selected-box 
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxOXB4IiBoZWlnaHQ9IjE5cHgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+DQogIDxkZWZzLz4NCiAgPGcgaWQ9ImNoZWNrIiBmaWxsPSIjRkZGRkZGIj4NCiAgICA8cGF0aCBkPSJNMy41ODAwNzgxMiwxMC45MzYwMzUyIEw1LjQ0MTE2MjExLDkuMjI0NjA5MzggTDcuNSwxMiBMMTQuMzQ4Mzg4Nyw0LjU5MzAxNzU4IEwxNS44MzE1NDMsNi4zMjg4NTc0MiBMNy41LDE1LjQ2MTQyNTggTDMuNTgwMDc4MTIsMTAuOTM2MDM1MiBaIiBpZD0iY2hlY2stMiI+PC9wYXRoPg0KICA8L2c+DQo8L3N2Zz4=)
    50% 50%
    no-repeat;
  border-color: $color-selected-box;
}

input[type="email"]:valid,
input[type="tel"]:valid,
input[type="url"]:valid {
  outline: 0;
}
 
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="url"]:invalid {
  border-color: $color-error;
  outline: 0;
  box-shadow: none;
}



/*
  Media

  weight: 4

  Styleguide Media
*/


/*
  Figure

  Use a figure anytime you have "...an image, an illustration, a diagram, a code snippet, or a schema that is referenced in the main text, but that can be moved to another page or to an appendix without affecting the main flow"
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure

  markup: figure.html

  Styleguide Media.Figure
*/
figure {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

figcaption {
  color: #777;
  font-style: italic;
  font-family: $font-stack-serif;
}


/*
  Image

  Images are set to `max-width: 100%` so that they’ll flex with the width of their container.

  markup: img.html

  weight: -1

  Styleguide Media.Image
*/
img {
  max-width: 100%;
}


/*
  Native Video

  Native HTML video element. Videos are set to `max-width: 100%` so that they’ll flex with the width of their container.

  markup: video.html

  Styleguide Media.Video
*/
video {
  max-width: 100%;
  height: auto;
}



