/*
  Buttons 

  Use `.btn` classes on `button`, `input`, or `a` elements. You can mix
  and match classes.

  Note: `.btn--forward`, `.btn--back`, `.btn--add`, and `.btn--delete` have no effect on `input` elements.

  :hover                       - Hover: Lightened color
  :active                      - Active: Animates down slightly
  :focus                       - Focus: Outline with soft glow
  .btn--small                  - Slightly smaller button
  .btn--large                  - Slightly larger button
  .btn--forward                - Adds right arrow icon
  .btn--back                   - Adds left arrow icon
  .btn--add                    - Adds plus icon
  .btn--delete                 - Adds ex icon
  .btn--download               - Adds download icon 
  .btn--danger                 - Use for a button that makes permanent, non-undoable changes
  .btn--outline                - Outline button
  .btn--outline.btn--small     - Small outline button
  .btn--outline.btn--large     - Large outline button
  .btn--outline.btn--forward   - Outline forward
  .btn--outline.btn--back      - Outline back
  .btn--outline.btn--add       - Outline add
  .btn--outline.btn--delete    - Outline delete
  .btn--outline.btn--download  - Outline download

  markup:
  <input class="btn {{modifier_class}}" type="submit" value="Input" />
  <a class="btn {{modifier_class}}" href="http://example.com">Link</a>
  <button class="btn {{modifier_class}}" href="http://example.com">Button</button>
  <a class="btn {{modifier_class}}" href="http://example.com" disabled>Disabled</a>

  Styleguide Modules.Buttons
*/
%btn {
  display: inline-block;
  line-height: $line-height;
  padding: .3em 1em;
  margin: 0 .1em .5rem;
  border-radius: .3em;
  cursor: pointer;
  text-decoration: none;
  font-family: $font-stack-sans;
  font-size: .875em; 
  transition: all 100ms ease-in-out;
  appearance: none;

  &:focus {
    outline: 0;
    box-shadow: 0 0 2px 2px $color-link;
  }

  &:active {
    transform: translateY(1px);
    outline: 0;
  }

}

.btn {
  @extend %btn;
  color: #fff;
  border: solid 1px $color-btn;
  background: $color-btn;
  background-image: linear-gradient($color-btn-highlight, $color-btn);

  &:hover {
    background: $color-btn-highlight;
    border: solid 1px $color-btn-highlight;
  }

  &:visited, 
  &:active, 
  &:hover {
    color: #fff;
  }
}

.btn--small {
  font-size: 75%;
  letter-spacing: 1px;
}

.btn--large {
  padding: .4em 1.4em;
}

.btn--outline {
  @extend %btn;
  color: $color-btn;
  border: solid 1px $color-btn;
  background: transparent;

  &:visited, 
  &:hover,
  &:focus,
  &:active { 
    color: $color-btn;
  }

  &:hover {
    color: #fff;
    background: $color-btn;
  }
}

.btn--danger {
  @extend %btn;
  color: #fff;
  background: $color-error;
  border: solid 1px transparent;

  &:link,
  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: #fff;
    border: solid 1px transparent;
  }

}

.btn--danger:hover {
  background: saturate(lighten($color-error, 0%), 15%);
  border: solid 1px transparent;
}

.btn:after,
.btn:before {
  color: inherit;
  font-weight: normal;
  opacity: .9;
}

.btn--forward:after {
  content: '\203a';
  font-size: 1.2em;
  margin-left: .5em;
}

.btn--back {
  padding-left: .7em;
  &:before {
    content: '\2039';
    font-size: 1.2em;
    margin-right: .5em;
  }
}

.btn--add {
  padding-left: .7em;
  &:before {
    content: '+';
    font-size: 1.2em;
    font-weight: bold;
    margin-right: .5em;
  }
}

.btn--delete {
  padding-left: .7em;
  &:before {
    content: '\00d7';
    font-size: 1.2em;
    font-weight: bold;
    margin-right: .5em;
  }
}

.btn--download {
  padding-left: .7em;
  &:before {
    content: '\2b07 ';
    font-size: 90%;
    margin-right: .5em;
  }
}

