<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component {{ _target.label }}</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="{{ _target.context.bodyClasses }}">
  {{{ yield }}}
  <script src="../../js/main.min.js"></script>
</body>
</html>