.nav {  
  margin: 0;
  padding: 0;
  position: relative;
}

.nav__items {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: block;
  margin: 0;
  padding: 0;
}

.nav__item:first-child {
  display: block;

  img {
    display: block;
    height: 2em;
  }
}

.nav__item:nth-child(n + 2) {
  background: #eee;
}

[aria-expanded=true] + ul > li:first-child {
  border-bottom: solid 1px rgba(0,0,0,.1);
}

.nav__link,
.nav__link:link,
.nav__link:visited,
.nav__link:hover,
.nav__link:active {
  display: block;
  padding: 1rem;
  border: 0;
  border-bottom: solid 1px #ccc;
  background: none;
  text-shadow: none;
  text-decoration: none;
  color: #444;

    .selected & {
      color: #000;
      font-weight: bold;
    }

    .selected &::before {
      content: 'Current Page ';
      position: absolute;
      display: block;
      width: 1px;
      height: 1px;
      overflow: hidden;
      background: transparent;
    }
}

.nav__link:focus,
.nav__link:hover {
  background: #e6e6e6;
}

@include tablet {

  .nav__item:first-child {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0;
    background: transparent;
  }

  [aria-expanded=true] + ul > li:first-child {
    border-bottom: none;
  }

  .nav__item:nth-child(n + 2) {
    background: transparent;
  }

  .nav__items {
    float: right;
    text-align: right;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }

  .nav__item {
    display: inline-block;
  }

  .nav__link,
  .nav__link:link,
  .nav__link:visited,
  .nav__link:hover,
  .nav__link:active {
    display: inline-block;
    padding: .5rem;
    border: 0;
  }

  .nav__link:hover {
    text-decoration: underline;
  }

  .nav__link:hover {
    background: transparent;
  }

  .nav__link:focus {
    outline: dotted 1px $color-focus;
    background: transparent;
  }

}

.nav__menu-button,
.nav__menu-button:link,
.nav__menu-button:visited,
.nav__menu-button:hover,
.nav__menu-button:focus,
.nav__menu-button:active {
  float: right;
  padding: 1rem;
  margin: 0;
  border: 0;
  color: $color-soft-black;
  background: transparent;
  font-size: 75%;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  transform: none;
  box-shadow: none;
  position: relative;
  z-index: 100;

  @include tablet {
    display: none;
  }
}

.nav__menu-button:focus {
  outline: dotted 1px $color-focus;
}
