<div class="{{ iebrowser }}"> 
  <div class="old-browser-notice">
    <p>You’re using a pretty old web browser. Some aspects of this site might not look or function quite right. Why not <a href="http://browsehappy.com/">grab the latest version of your favorite web browser here</a>?</p>
  </div>
</div>
