<a class="btn" href="#" disabled href="{{ href }}">Link {{ text }}</a>
<br>
<button disabled>Button {{ text }}</button>
<br>
<input class="btn" disabled type="submit" name="submit" value="Input {{ text }}"/>
