/*
  Responsive Wrapper

  For a simple responsive solution, wrap tables in a `div.table-wrap`. Allows for horizonal scrolling for tables wider than the viewport.

  Styleguide Table.Responsive
*/
.table-wrap {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}