<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
        <th>Header 4</th>
        <th>Header 5</th>
        <th>Header 6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
      </tr>
      <tr>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
      </tr>
      <tr>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
      </tr>
      <tr>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
        <td>long_data_in_each_cell</td>
      </tr>
    </tbody>
  </table>
</div>
