
{{> @old-browser-notice }}
{{> @header }}
<!-- Include aria role for <=IE11 https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main -->
<main role="main">
  <p>This is a sample page template. It includes the header from <code>structures/header</code> and the footer from <code>structures/footer</code></p>
</main>
{{> @footer }}
