
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; 
  box-sizing: border-box;

  &::selection {
    background: $color-text-select;
  }
}

html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
}


/*
 Disable buggy font boosting in Chrome for Android
 https://bugs.webkit.org/show_bug.cgi?id=84186

 ...And in mobile safari
 https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
*/
body * {
  max-height: 1000000em;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-stack-sans;
  line-height: 1.4;
  color: $color-font;
  font-size: $font-size-base;
  // @include ligatures();
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

p, 
ul, 
ol, 
dl,
blockquote,
form,
fieldset,
table,
caption,
figure {
  margin: 0 0 $line-height;
}


/*
  Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-sans;
  color: $color-soft-black;
  font-weight: bold;
  line-height: 1;
}

h1, .h1 {
  font-size: 2.625em; 
  margin-bottom: $line-height;

  @include tablet {
    font-size: 3.75em;
  }
}

h2, .h2 {
  font-size: 2em;
  margin-bottom: $line-height/2;
}

h3, .h3 {
  font-size: 1.5em;
  margin-bottom: $line-height/2;
}

h4, .h4 {
  font-size: 1.3125em;
  margin-bottom: $line-height/2;
}

h5, .h5 {
  font-size: 1.125em;
  margin-bottom: $line-height/2;
}

h6, .h6 {
  font-size: .9em;
  margin-bottom: $line-height/4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  color: lighten($color-font, 30%);
}

ul, 
ol {
  padding-left: 1.5em;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;

  ol {
    list-style: lower-alpha outside;
  }
}

li {
  margin-bottom: $line-height/2;

  > ul, ol, dl {
    margin-top: $line-height/2;
    margin-bottom: $line-height/2;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: $line-height;
}

blockquote {
  border-left: solid 4px #ccc;
  padding-left: 1.4em;
  color: #777;
  font-family: $font-stack-serif;
  line-height: 1.5;
}

strong, b {
  color: #333;
  font-weight: bold;
}

em, i {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  background: #ff0;
  font-weight: 400;
  font-style: normal;
}

abbr {
  border-bottom: dotted 1px #ccc;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

time {}

meter {}

progress {
  @include progress-bar($color-cerulean, #ccc);
}

code {
  background: #f3f3f3;
  padding: 0 .3em;
  border: solid 1px #ddd;
  border-radius: .2em;
  font-family: $font-stack-mono;
  font-size: 90%;
  font-style: normal;
  text-transform: none;
}

pre {
  white-space: pre;
  font-family: $font-stack-mono;
  font-size: 90%;
  font-style: normal;
  text-transform: none;
}

a {
  color: $color-font;
  text-decoration: none;
  @include textShadowUnderlineCrop(#fff);
  @include smartUnderline(#fff, $color-link);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    border: none;
  }

  &:visited,
  &.visited {
    @include smartUnderline(#fff, $color-link-visited);
  }

  &:hover,
  &.hover {
    background: none;
  }

  &:focus,
  &.focus {
    background: $color-link;
    text-shadow: none;
  }

}

[href^="http"]:not([href*="jpolete.me"]):after {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="#00a4de"><title>external-link</title><path class="path1" d="M25.143 16.571v5.714q0 2.125-1.509 3.634t-3.634 1.509h-14.857q-2.125 0-3.634-1.509t-1.509-3.634v-14.857q0-2.125 1.509-3.634t3.634-1.509h12.571q0.25 0 0.411 0.161t0.161 0.411v1.143q0 0.25-0.161 0.411t-0.411 0.161h-12.571q-1.179 0-2.018 0.839t-0.839 2.018v14.857q0 1.179 0.839 2.018t2.018 0.839h14.857q1.179 0 2.018-0.839t0.839-2.018v-5.714q0-0.25 0.161-0.411t0.411-0.161h1.143q0.25 0 0.411 0.161t0.161 0.411zM32 1.143v9.143q0 0.464-0.339 0.804t-0.804 0.339-0.804-0.339l-3.143-3.143-11.643 11.643q-0.179 0.179-0.411 0.179t-0.411-0.179l-2.036-2.036q-0.179-0.179-0.179-0.411t0.179-0.411l11.643-11.643-3.143-3.143q-0.339-0.339-0.339-0.804t0.339-0.804 0.804-0.339h9.143q0.464 0 0.804 0.339t0.339 0.804z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 70% auto;
    content: '(external link)';
    overflow: hidden;
    white-space: nowrap;
    text-indent: 1em;
}

hr {
  clear: both;
  border: solid 1px #ccc;
  border-width: 1px 0 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

table {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  font-size: .9em;

  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
}

thead,
tbody,
tfoot {
  width: 100%;
}

th, td {
  font-family: $font-stack-sans;
  vertical-align: top;
  text-align: left;
  border-bottom: solid 1px #ccc;
  padding: $font-size-base/2 $font-size-base;
}

tr:nth-child(even) th,
tr:nth-child(even) td {
  background: #f3f3f3;
}

th {
  font-weight: bold;
}

caption {
  color: #888;
  caption-side: top;
  text-align: left;
}

fieldset {
  border: solid 1px #ccc;
  border-radius: .5em; 
  padding: #{$line-height};

  > :last-child {
    margin-bottom: 0;
  }
}

legend {
  padding: 0 1em;
  margin-left: -1em;
  color: #333;
  font-family: $font-stack-form-ui;
  font-weight: bold;
}

label
{
  display: inline-block;
  padding-left: .4em;
  margin: 0 0 .25em;
  color: #555;
  text-transform: uppercase;
  font-size: 80%;
  font-family: $font-stack-form-ui;
  letter-spacing: 1px;
}

input[type="text"], 
input[type="password"], 
input[type="file"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
select, 
textarea {
  display: inline-block;
  width: 100%;
  padding: .5em;
  border: solid 1px #999;
  border-radius: .25em; 
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  color: $color-font;
  background: #fff;
  appearance: none;
}

input[type="color"], 
input[type="range"] {
  font-size: inherit;
  font-family: $font-stack-form-ui;
  outline: 0;
  display: inline-block;
  width: 100%;
  box-shadow: none;
}

/*
Make sure date/time fields are as tall as empty text fields for consistency.
Mobile Safari collapses them.
line height + vertical padding + border widths
*/
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"] {
  min-height: calc(#{$line-height} + .5em + 4px); 
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="file"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
select:focus, 
textarea:focus {
  border-color: $color-field-focus;
  box-shadow: none;
  outline: 0;
}

input[type="color"]:focus, 
input[type="range"]:focus {
  outline: 0;
}

input[type="color"] {
  /*Ensure height matches text input height*/
  height: "#{$font-size-base/2} + #{$line-height}";
  background: transparent;
}

input[type="radio"] {
  border: solid 1px #999;
  font-size: 1.2em;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;

  &:checked, 
  &:active, 
  &:focus {
    outline: 0;
  }
}

input[type="checkbox"] {
  border: solid 1px #999;
  border-radius: .2em;
  font-size: 1em;
  height: 1em;
  width: 1em;
  line-height: 1;
  vertical-align: middle;
  appearance: none;

  &:checked, 
  &:active, 
  &:focus {
    outline: 0;
  }
}

input[type="radio"],
input[type="checkbox"] {
  transition: 
    background-color 100ms ease-in-out, 
    background-image 100ms ease-in-out, 
    border 100ms ease-in-out;
  margin: 0 0 .15em;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: 
    $color-selected-box 
    url('data:image/svg+xml;utf8,<svg width="19" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M3.58 10.936l1.86-1.71L7.5 12l6.848-7.407 1.484 1.736L7.5 15.46l-3.92-4.524z" fill="#fff"/></svg>')
    50% 50%
    no-repeat;
  border-color: $color-selected-box;
}

input[type="email"]:valid,
input[type="tel"]:valid,
input[type="url"]:valid {
  outline: 0;
}
 
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="url"]:invalid {
  border-color: $color-error;
  outline: 0;
  box-shadow: none;
}

figure {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
}

figcaption {
  color: #777;
  font-style: italic;
  font-family: $font-stack-serif;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
  height: auto;
}



