
[role="banner"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-soft-black;
  color: #fff;
  color: rgba(255,255,255,.9);
}


main,
[role="main"] {
  padding: 1rem;
}

[role="contentinfo"] {
  border-top: solid 1px #ccc;
}

