
label {
  display: inline-block;
  padding-left: .25em;
  margin: 0 0 .25em;
  color: #555;
  text-transform: uppercase;
  font-size: 80%;
  font-family: $font-stack-form-ui;
  letter-spacing: 1px;
}