
/*
  Site Navigation

*/
.nav {
  margin: 0;
  padding: 0;
}

.nav__items {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: block;
  margin: 0;
  padding: 0;
}

.nav__link,
.nav__link:link,
.nav__link:visited,
.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  display: block;
  padding: 1rem;
  border: 0;
  border-bottom: solid 1px #ccc;
}

