  <nav id="nav" class="nav" role="navigation">
    <ul class="nav__items">
      <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
      <li class="nav__item"><a class="nav__link" href="/about">About</a></li>
    </ul>
  </nav>
