<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components {{ _target.label }}</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  {{{ yield }}}
</body>
<script src="/js/main.min.js"></script>
</html>