
{{> @old-browser-notice }}
{{ render '@header' }}
<main id="main">
  <div class="constrained constrained--padded">
    <p>This is a sample page template. It includes the header from <code>structures/header</code> and the footer from <code>structures/footer</code></p>
  </div>
</main>
{{> @footer }}
