

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <p>From The Haunting of Hill House…</p>
<blockquote>
  <p>
    No live organism can continue for long to exist sanely under conditions
    of absolute reality; even larks and katydids are supposed, by some, to 
    dream. Hill House, not sane, stood by itself against its hills, holding 
    darkness within; it had stood so for eighty years and might stand for 
    eighty more. Within, walls continued upright, bricks met neatly, floors 
    were firm, and doors were sensibly shut; silence lay steadily against 
    the wood and stone of Hill House, and whatever walked there, walked 
    alone.
  </p> 
</blockquote>

</body>
<script src="../../../js/main.min.js"></script>
</html>
