

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Add</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <a href="#" class="btn btn--add" href="http://example.com">Link Add</a>
<br>
<button class="btn btn--add">Button Add</button>
<br>
<input class="btn btn--add" type="submit" name="submit" value="Input Add"/>
<hr>

</body>
<script src="../../../js/main.min.js"></script>
</html>
