

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Disabled</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <a class="btn" href="#" disabled href="http://example.com">Link Disabled</a>
<br>
<button disabled>Button Disabled</button>
<br>
<input class="btn" disabled type="submit" name="submit" value="Input Disabled"/>

</body>
<script src="../../../js/main.min.js"></script>
</html>
