

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../style.css">
  <title>Yrdstick Components Forward</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <a href="#" class="btn btn--forward" href="http://example.com">Link Forward</a>
<br>
<button class="btn btn--forward">Button Forward</button>
<br>
<input class="btn btn--forward" type="submit" name="submit" value="Input Forward"/>
<hr>

</body>
<script src="../../js/main.min.js"></script>
</html>
