

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../style.css">
  <title>Yrdstick Components Button</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <!-- Start: @button--default -->
<a href="#" class="btn" href="http://example.com">Link Default</a>
<br>
<button class="btn">Button Default</button>
<br>
<input class="btn" type="submit" name="submit" value="Input Default"/>
<hr>

<!-- End: @button--default -->

<!-- Start: @button--small -->
<a href="#" class="btn btn--small" href="http://example.com">Link Small</a>
<br>
<button class="btn btn--small">Button Small</button>
<br>
<input class="btn btn--small" type="submit" name="submit" value="Input Small"/>
<hr>

<!-- End: @button--small -->

<!-- Start: @button--large -->
<a href="#" class="btn btn--large" href="http://example.com">Link Large</a>
<br>
<button class="btn btn--large">Button Large</button>
<br>
<input class="btn btn--large" type="submit" name="submit" value="Input Large"/>
<hr>

<!-- End: @button--large -->

<!-- Start: @button--danger -->
<a href="#" class="btn btn--danger" href="http://example.com">Link Danger!</a>
<br>
<button class="btn btn--danger">Button Danger!</button>
<br>
<input class="btn btn--danger" type="submit" name="submit" value="Input Danger!"/>
<hr>

<!-- End: @button--danger -->

<!-- Start: @button--outline -->
<a href="#" class="btn btn--outline" href="http://example.com">Link Outline</a>
<br>
<button class="btn btn--outline">Button Outline</button>
<br>
<input class="btn btn--outline" type="submit" name="submit" value="Input Outline"/>
<hr>

<!-- End: @button--outline -->

<!-- Start: @button--forward -->
<a href="#" class="btn btn--forward" href="http://example.com">Link Forward</a>
<br>
<button class="btn btn--forward">Button Forward</button>
<br>
<input class="btn btn--forward" type="submit" name="submit" value="Input Forward"/>
<hr>

<!-- End: @button--forward -->

<!-- Start: @button--back -->
<a href="#" class="btn btn--back" href="http://example.com">Link Back</a>
<br>
<button class="btn btn--back">Button Back</button>
<br>
<input class="btn btn--back" type="submit" name="submit" value="Input Back"/>
<hr>

<!-- End: @button--back -->

<!-- Start: @button--add -->
<a href="#" class="btn btn--add" href="http://example.com">Link Add</a>
<br>
<button class="btn btn--add">Button Add</button>
<br>
<input class="btn btn--add" type="submit" name="submit" value="Input Add"/>
<hr>

<!-- End: @button--add -->

<!-- Start: @button--delete -->
<a href="#" class="btn btn--delete" href="http://example.com">Link Delete</a>
<br>
<button class="btn btn--delete">Button Delete</button>
<br>
<input class="btn btn--delete" type="submit" name="submit" value="Input Delete"/>
<hr>

<!-- End: @button--delete -->

<!-- Start: @button--download -->
<a href="#" class="btn btn--download" href="http://example.com">Link Download</a>
<br>
<button class="btn btn--download">Button Download</button>
<br>
<input class="btn btn--download" type="submit" name="submit" value="Input Download"/>
<hr>

<!-- End: @button--download -->

<!-- Start: @button--disabled -->
<a class="btn" href="#" disabled href="http://example.com">Link Disabled</a>
<br>
<button disabled>Button Disabled</button>
<br>
<input class="btn" disabled type="submit" name="submit" value="Input Disabled"/>

<!-- End: @button--disabled -->

</body>
<script src="../../js/main.min.js"></script>
</html>
