

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <input type="checkbox" id="Strawberries" name="fruit" value="strawberries" />
<label for="Strawberries">Strawberries</label>
<br>
<input type="checkbox" id="grapes" name="fruit" value="grapes" />
<label for="grapes">Grapes</label>
<br>
<input type="checkbox" id="blueberries" name="fruit" value="blueberries" />
<label for="blueberries">Blueberries</label>
<br>

</body>
<script src="../../../js/main.min.js"></script>
</html>
