

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <div class="constrained">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio cupiditate aperiam blanditiis! Provident repellendus, at eaque pariatur quidem optio dicta aliquam tempore commodi, excepturi neque et, facilis rem. Inventore, eaque.
</div>
  <script src="../../js/main.min.js"></script>
</body>
</html>
