

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <figure>
  <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Alice_par_John_Tenniel_02.png/392px-Alice_par_John_Tenniel_02.png" alt="White Rabbit" />
  <figcaption>White Rabbit woodcut</figcaption>
</figure>

</body>
<script src="/js/main.min.js"></script>
</html>
