

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Squared</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  
<div class="filter--rect">
  <input type="checkbox" id="Kentucky" name="state">
  <label for="Kentucky"> Kentucky </label>
</div>
<div class="filter--rect">
  <input type="checkbox" id="Indiana" name="state">
  <label for="Indiana"> Indiana </label>
</div>
<div class="filter--rect">
  <input type="checkbox" id="Tennessee" name="state">
  <label for="Tennessee"> Tennessee </label>
</div>

  <script src="../../js/main.min.js"></script>
</body>
</html>
