

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <div class="form-line">
  <div class="portion-2">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
</div>
<div class="form-line">
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
</div>
<div class="form-line">
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
</div>
<div class="form-line">
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
</div>
<div class="form-line">
  <div class="portion-3">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
  <div class="portion-1">
    <label for="inputid">label</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="placeholder"
  
  
  
  
  
   
   
   /> 
  </div>
</div>

  <script src="../../js/main.min.js"></script>
</body>
</html>
