

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <p>
Here are some <mark>marked words</mark>, and…
<br />
some <em>emphasized words</em> and… 
<br />
some <strong>strong text</strong> and…
<br />
an <i>i element</i> and…
<br />
a <b>b element</b> and…
<br /> 
<q>This is an inline quote</q> and…
<br />
this is <code>someCode() { }</code> and…
<br />
this is a superscript<sup>1</sup> and a subscript<sub>2</sub> and… 
<br />
this is an abreviation <abbr title="Hypertext Markup Language"> HTML</abbr> and…
<br />
this is a time: <time datetime="2015-05-14T00:00:00">May 14, 2015</time> and …
<br />
this is progress: <progress value="30" max="100">30%</progress>
</p>

</body>
<script src="../../js/main.min.js"></script>
</html>
