

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Three Fourths</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <div class="input-width input-width--three-fourths">
  <label for="input-three-fourths">3/4 width</label>
  <input type="text" id="input-three-fourths" name="input-three-fourths" value="" placeholder="" />
</div>
</body>
<script src="../../../js/main.min.js"></script>
</html>
