

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Input Width</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <!-- Start: @input-width--default -->
<div class="input-width input-width--full">
  <label for="input-full">Full width</label>
  <input type="text" id="input-full" name="input" value="" placeholder="" />
</div>
<!-- End: @input-width--default -->

<!-- Start: @input-width--half -->
<div class="input-width input-width--half">
  <label for="input-half">1/2 width</label>
  <input type="text" id="input-half" name="input-half" value="" placeholder="" />
</div>
<!-- End: @input-width--half -->

<!-- Start: @input-width--third -->
<div class="input-width input-width--third">
  <label for="input-third">1/3 width</label>
  <input type="text" id="input-third" name="input-third" value="" placeholder="" />
</div>
<!-- End: @input-width--third -->

<!-- Start: @input-width--two-thirds -->
<div class="input-width input-width--two-thirds">
  <label for="input-two-thirds">2/3 width</label>
  <input type="text" id="input-two-thirds" name="input-two-thirds" value="" placeholder="" />
</div>
<!-- End: @input-width--two-thirds -->

<!-- Start: @input-width--fourth -->
<div class="input-width input-width--fourth">
  <label for="input-fourth">1/4 width</label>
  <input type="text" id="input-fourth" name="input-fourth" value="" placeholder="" />
</div>
<!-- End: @input-width--fourth -->

<!-- Start: @input-width--three-fourths -->
<div class="input-width input-width--three-fourths">
  <label for="input-three-fourths">3/4 width</label>
  <input type="text" id="input-three-fourths" name="input-three-fourths" value="" placeholder="" />
</div>
<!-- End: @input-width--three-fourths -->

</body>
<script src="../../../js/main.min.js"></script>
</html>
