

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Validation Styling</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <label for="inputid">Four-digit year (pattern attribute validation)</label>
<input 
  type="text" 
  id="inputid" 
  name="input" 
  value="" 
  placeholder="2001"
  
  
  
  pattern="\d{4}"
  
   
   
   /> 
  <script src="../../js/main.min.js"></script>
</body>
</html>
