

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <picture class="intrinsic intrinsic--square">
  <source media="(min-width: 500px)" srcset="http://placehold.it/1000x1000?text=Square">
  <img class="intrinsic-item" srcset="http://placehold.it/300x300?text=Square" alt="Square Image">
</picture>

</body>
<script src="../../js/main.min.js"></script>
</html>
