

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Picture Element</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <picture class="intrinsic intrinsic--4x3">
  <source media="(min-width: 800px)" srcset="http://placehold.it/1600x1200?text&#x3D;Large+Detailed+Photo">
  <img  src="http://placehold.it/800x600?text&#x3D;Zoomed+/+Cropped+Photo" alt="Square image">
</picture>

  <script src="../../js/main.min.js"></script>
</body>
</html>
