

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Link</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <!-- Start: @link--default -->
<a  href="https://kljasdfkljasasdfasfasdfasklkjikuiou.com" class="">Link </a>
<br>
<!-- End: @link--default -->

<!-- Start: @link--visited -->
<a  href="https://kljasdfkljasasdfasfasdfasklkjikuiou.com" class="visited">Link (visited)</a>
<br>
<!-- End: @link--visited -->

<!-- Start: @link--hover -->
<a  href="https://kljasdfkljasasdfasfasdfasklkjikuiou.com" class="hover">Link (hover)</a>
<br>
<!-- End: @link--hover -->

<!-- Start: @link--focus -->
<a  href="https://kljasdfkljasasdfasfasdfasklkjikuiou.com" class="focus">Link (focus)</a>
<br>
<!-- End: @link--focus -->

<!-- Start: @link--active -->
<a  href="https://kljasdfkljasasdfasfasdfasklkjikuiou.com" class="active">Link (active)</a>
<br>
<!-- End: @link--active -->

<!-- Start: @link--new-tab -->
<a target="_blank" href="https://kljasdfkljasasdfasfasdfasklkjikuiou.com" class="">Link </a>
<br>
<!-- End: @link--new-tab -->

  <script src="../../js/main.min.js"></script>
</body>
</html>
