

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com">hyperlink</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="hover">hyperlink (hover)</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="visited">hyperlink (visited)</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="focus">hyperlink (focus)</a>
<br />
<a href="https://asfsadfasfasfasfasfasdfasdfasfdasfdasfdasdfsadf.com" class="active">hyperlink (active)</a>
<br />

</body>
<script src="../../../js/main.min.js"></script>
</html>
