

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Mixed</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <ol>
  <li>Ordered Item</li>
  <li>Ordered Item</li>
  <li>Ordered Item</li>
  <li>Ordered Item<ul>
      <li>Unordered Subitem</li>
      <li>Unordered Subitem</li>
      <li>Unordered Subitem</li>
    </ul>
    </li>
  <li>Item</li>
  <li>Item</li>
</ol>

  <script src="../../js/main.min.js"></script>
</body>
</html>
