

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
    <nav id="nav" class="nav" role="navigation">
    <ul class="nav__items">
      <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
      <li class="nav__item"><a class="nav__link" href="/about">About</a></li>
    </ul>
  </nav>

</body>
<script src="/js/main.min.js"></script>
</html>
