

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Album</th>
      <th class="numeric">Digital</th>
      <th class="numeric">LP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Flaming Lips</td>
      <td>The Soft Bulletin</td>
      <td class="numeric">$9.99</td>
      <td class="numeric">$22.99</td>
    </tr>
    <tr>
      <td>Nirvana</td>
      <td>Bleach</td>
      <td class="numeric">$8.99</td>
      <td class="numeric">$20.99</td>
    </tr>
  </tbody>
</table>


</body>
<script src="/js/main.min.js"></script>
</html>
