

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellat corrupti repudiandae officiis laboriosam ea repellendus aliquam eius harum, earum asperiores quibusdam, fuga iste tempore praesentium architecto, officia molestiae? Ipsam?
</p>
  <script src="../../js/main.min.js"></script>
</body>
</html>
