

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <fieldset class="input-list">
  <legend>A List of Choices</legend>
  <ul>
    <li>
      <input type="radio" id="c1" name="choice" value="c1">
      <label for="c1">Choice 1</label>
    </li>
    <li>
      <input type="radio" id="c2" name="choice" value="c2">
      <label for="c2">Choice 2 (with a really long description... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad expedita eius atque quae ab vel mollitia ut vero deserunt natus quasi debitis molestias, suscipit eligendi itaque fugit soluta sit deleniti.)</label>
    </li>
    <li>
      <input type="radio" id="c3" name="choice" value="c3">
      <label for="c3">Choice 3</label>
    </li>
  </ul>
</fieldset>

</body>
<script src="../../js/main.min.js"></script>
</html>
