

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Flickr</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Flickr icon" class="social-icon">
  <title>Flickr icon</title>
  <use xlink:href="../../images/social-media.svg#icon-flickr" />
</svg>

  <script src="../../js/main.min.js"></script>
</body>
</html>
