

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="/style.css">
  <title>Yrdstick Components Vimeo</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Vimeo icon" class="social-icon">
  <title>Vimeo icon</title>
  <use xlink:href="../../../images/social-media.svg#icon-vimeo-square" />
</svg>

</body>
<script src="../../../js/main.min.js"></script>
</html>
