

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Social Media Icons</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <!-- Start: @social-icons--default -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="twitter icon" class="social-icon">
  <title>twitter icon</title>
  <use xlink:href="../../images/social-media.svg#icon-twitter" />
</svg>
<!-- End: @social-icons--default -->

<!-- Start: @social-icons--facebook -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Facebook icon" class="social-icon">
  <title>Facebook icon</title>
  <use xlink:href="../../images/social-media.svg#icon-facebook-square" />
</svg>
<!-- End: @social-icons--facebook -->

<!-- Start: @social-icons--instagram -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Instagram icon" class="social-icon">
  <title>Instagram icon</title>
  <use xlink:href="../../images/social-media.svg#icon-instagram" />
</svg>
<!-- End: @social-icons--instagram -->

<!-- Start: @social-icons--linkedin -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Linkedin icon" class="social-icon">
  <title>Linkedin icon</title>
  <use xlink:href="../../images/social-media.svg#icon-linkedin-square" />
</svg>
<!-- End: @social-icons--linkedin -->

<!-- Start: @social-icons--snapchat -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Snapchat icon" class="social-icon">
  <title>Snapchat icon</title>
  <use xlink:href="../../images/social-media.svg#icon-snapchat-ghost" />
</svg>
<!-- End: @social-icons--snapchat -->

<!-- Start: @social-icons--vimeo -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Vimeo icon" class="social-icon">
  <title>Vimeo icon</title>
  <use xlink:href="../../images/social-media.svg#icon-vimeo-square" />
</svg>
<!-- End: @social-icons--vimeo -->

<!-- Start: @social-icons--youtube -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Youtube icon" class="social-icon">
  <title>Youtube icon</title>
  <use xlink:href="../../images/social-media.svg#icon-youtube-play" />
</svg>
<!-- End: @social-icons--youtube -->

<!-- Start: @social-icons--github -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Github icon" class="social-icon">
  <title>Github icon</title>
  <use xlink:href="../../images/social-media.svg#icon-github" />
</svg>
<!-- End: @social-icons--github -->

<!-- Start: @social-icons--pinterest -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Pinterest icon" class="social-icon">
  <title>Pinterest icon</title>
  <use xlink:href="../../images/social-media.svg#icon-pinterest-square" />
</svg>
<!-- End: @social-icons--pinterest -->

<!-- Start: @social-icons--flickr -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Flickr icon" class="social-icon">
  <title>Flickr icon</title>
  <use xlink:href="../../images/social-media.svg#icon-flickr" />
</svg>
<!-- End: @social-icons--flickr -->

<!-- Start: @social-icons--tumblr -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Tumblr icon" class="social-icon">
  <title>Tumblr icon</title>
  <use xlink:href="../../images/social-media.svg#icon-tumblr-square" />
</svg>
<!-- End: @social-icons--tumblr -->

<!-- Start: @social-icons--slack -->
<!-- Render the icons with svg "use". Note the role, aria label and title for accessibility -->
<svg role="img" aria-label="Slack icon" class="social-icon">
  <title>Slack icon</title>
  <use xlink:href="../../images/social-media.svg#icon-slack" />
</svg>
<!-- End: @social-icons--slack -->

  <script src="../../js/main.min.js"></script>
</body>
</html>
