

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../styles/style.css">
  <title>Springboard Component Linear</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body class="">
  <div 
  class="table-linearizable"
  
   
  >
  <table>
    <caption >Artists! Albums! Years! Formats!</caption>
    <thead>
      <tr>
        <th >Artist</th>
        <th >Album</th>
        <th class="numeric" >Year</th>
        <th class="numeric" >Digital</th>
        <th class="numeric" >Vinyl</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td 
          data-label="Artist" 
          > Flaming Lips </td>
        <td 
          data-label="Album" 
          > The Soft Bulletin </td>
        <td 
          data-label="Year" 
          class="numeric" > 1999 </td>
        <td 
          data-label="Digital" 
          class="numeric" > $9.99 </td>
        <td 
          data-label="Vinyl" 
          class="numeric" > $22.99 </td>
      </tr>
      <tr>
        <td 
          data-label="Artist" 
          > Nirvana </td>
        <td 
          data-label="Album" 
          > Bleach </td>
        <td 
          data-label="Year" 
          class="numeric" > 1991 </td>
        <td 
          data-label="Digital" 
          class="numeric" > $8.99 </td>
        <td 
          data-label="Vinyl" 
          class="numeric" > $20.99 </td>
      </tr>
      <tr>
        <td 
          data-label="Artist" 
          > Leonard Cohen </td>
        <td 
          data-label="Album" 
          > Old Ideas </td>
        <td 
          data-label="Year" 
          class="numeric" > 2012 </td>
        <td 
          data-label="Digital" 
          class="numeric" > $9.99 </td>
        <td 
          data-label="Vinyl" 
          class="numeric" > $23.99 </td>
      </tr>
      <tr>
        <td 
          data-label="Artist" 
          > Run the Jewels </td>
        <td 
          data-label="Album" 
          > RTJ 4 🤜🏿 👈🏼 </td>
        <td 
          data-label="Year" 
          class="numeric" > 2020 </td>
        <td 
          data-label="Digital" 
          class="numeric" > $0.00 </td>
        <td 
          data-label="Vinyl" 
          class="numeric" > $24.99 </td>
      </tr>
    </tbody>
  </table>
</div>
  <script src="../../js/main.min.js"></script>
</body>
</html>
