

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link media="all" rel="stylesheet" href="../../style.css">
  <title>Yrdstick Components Default</title>
  <style>
    body { padding: 1rem; }
  </style>
</head>
<body>
  <ul>
  <li>Unordered List Item</li>
  <li>Unordered List Item</li>
  <li>Unordered List Item</li>
  <li>Item with sub-items
    <ul>
      <li>Unordered List Sub-item</li>
      <li>Unordered List Sub-item</li>
      <li>Unordered List Sub-item</li>
    </ul>
  </li>
  <li>Unordered List Item</li>
  <li>Unordered List Item</li>
</ul>

</body>
<script src="../../js/main.min.js"></script>
</html>
